.input-box {
  display: flex;
  align-items: center;
  background: #fafafa;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 10px 12px;
  margin-bottom: 12px;
  color: #333;
}

.input-box .icon {
  margin-right: 10px;
  color:  #573ff5;
  font-size: 16px;
}

.input-box input,
.input-box select {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  font-size: 15px;
  color: #333;
}